body{
    font-family: 'Open Sans', sans-serif;
}

.conteiner{
    max-width: 1300px;
    margin: 0 auto;
}

.nav{
     margin: 43px 460px; 
}

.nav-ul{
    width: 433px; 
}

.nav-li{
    display: inline-block;
    margin-right: 47px;
}

.nav-li:not(:last-of-type){
    margin-right: 47px;
}

.nav-ul-link{
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    text-decoration: none;
    color: #000000;
}


.backgroud{
    background-image: url('./img/background.png');
    border-image-repeat: no-repeat;
    background-size: cover;
}

.div1-text{
    font-weight: 700;
    font-size: 72px;
    line-height: 98px;
    text-align: center; 
    color: #FFFFFF;
    padding: 138px;
}

.div1-button{
    width: 420px;
    height: 70px;
    border: none;
    background-color: #FFFFFF;
    margin:  0 9px;
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
    color: #162C38;
}


.p{
    font-weight: 400;
    font-size: 36px;
    line-height: 49px;
    text-align: center;
    color: #FFFFFF;
    padding: 130px 250px;
    background-color: rgb(76, 108, 197);
}